<%- layout('layouts/main.ejs') %>
<div class="card text-center col-md-4 offset-4 border-primary">
  <form class="form-signin" action="/signin" method="post">
  <img class="mb-4" src="https://www.pinclipart.com/picdir/middle/164-1640714_user-symbol-interface-contact-phone-set-add-sign.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal"><strong>Please sign in</strong></h1>
  <hr/>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
  <br>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
  <div class="">
    <hr/>
    <small><strong>Without an account yet? </strong> <a href="/signup">Click Here</a></small>
    <hr/>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
  <p class="mt-5 mb-3 text-muted">Encuestas-Epress</p>
  </form>
</div>
