<%- layout('layouts/main.ejs') %>

<form class="" action="/signin" method="post">
   <input type="email" name="email" placeholder="Inser Email">
   <input type="password" name="password" placeholder="Insert Password">

   <button type="submit" name="button">
      LogIn
   </button>
</form>
