<%- layout('layouts/main.ejs') %>

<form class="" action="/signup" method="post">
   <input type="email" name="email" placeholder="Inser Email">
   <input type="password" name="password" placeholder="Insert Password">

   <button type="submit" name="button">
      Singup
   </button>
</form>
